useDynLib(Rsafd)

import("stats", "mvtnorm", "robustbase", "rgl")
#importFrom(contour, persp)
#importFrom( contour.pbivd)
#importFrom( persp.dbivd)

export(abscor, axcor, begday, block.max, bns, bscall, 
contour.pcopula, contour.dcopula, der, dgev, dgpd, dmvnorm, eda.shape, empirical.copula, estimate.mix.gev,
fit.copula, fns, gev.lmom, gev.ml,
gpd.1p, gpd.1q, gpd.2p, gpd.2q, gpdjoint.1p, gpdjoint.2p, gpd.lmom, gpd.ml,
gpd.tail, kalman, kdest, Kendalls.tau, kreg, l1fit, lm.diag, localmean, localvar,
makedate, noon, pcopula, pgev, pgpd, plot.gpd, 
ploting.position.estimator.LMOM, p2Dnorm, pred.ar, qgev, qgpd, 
qqexp, qqnorm, rcopula, readindex, rgev, rgpd, rmvnorm, sample.LMOM, shape.plot,
Spearmans.rho, squarecor, sstl, tail.index, tailplot, VaR.exp.sim, yns)
data(AFT.mat, BASKETBALL, BCofLRet, CCofLRet,
CORNTEMP, DSP, DSP500, DSPLR, DUKE.index, DukeLR, ENRON.index, FRWRD, GermanB041700,
GEYSER, HILLS, IBM, INT.YIELD, LIFE, MID1, MIND, MORN.mat, MSP, PCS, PPRICE, PSPOT, ROCK, SHAPE.XI, SHIP, SMORN.mat,
SPFUT, STRENGTH, SUBSP, swap, TC, TRGSP, TSTSP, TRGSP2000, TSTSP2000,
us.bis.yield, UTILITIES, USBN041700, UTIL.index, VINEYARD, WSP, WSPLRet, y4nls1, y4nls2)

#exportMethods(contour.dbivd, contour.pbivd, persp.dbivd)

# export(AFT.mat, BASKETBALL, BCofLRet, CCofLRet,
#CORNTEMP, CRUDE, DSP, DSP500, DSPLR, DUKE.index, DUKE.wer, DUKE1.wer,
# DUKE2.wer, DukeLR, ENRON.index, ethanol, FRWRD, GermanB041700,
# GEYSER, HILLS, HOWAREYOU, IBM, INT.YIELD, LIFE, M.wer, M1.wer, M2.wer,
# MID1, MIND, MORN.mat, MSP, PCS, PPRICE, PSPOT, ROCK, SHAPE.XI, SHIP, # SMORN.mat,
# SPFUT, STRENGTH, SUBSP, swap, TC, TRGSP, TSTSP, TRGSP2000, TSTSP2000,
# us.bis.yield, UTILITIES, USBN041700, UTIL.index, VINEYARD, WSP, WSPLRet, # y4nls1,y4nls2)

# match.call problem
#export(nnet.default, nnet.formula)

#importFrom(stats, add1)
#importFrom(stats, anova)

#S3method(add1, multinom)
#S3method(anova, multinom)
#S3method(coef, multinom)
#S3method(confint, multinom)
#S3method(drop1, multinom)
